body{ /*rem = 16px by default*/
    font-family:Arial,Helvetica,sans-serif;
    background-color:#aad4cf;
}
h1{
    font-size:4rem; /*32px*/
    color:white;
}
h2{
    font-size:2.25rem; /*28px*/
}
h3,h4,h5{
    font-size:1.75rem; /*20px*/
}
nav{
    font-size:0rem; /*Removes invisible space between inline block elements*/
    text-align:center;
}
nav ul{
    margin:10px;
}
nav li{
    word-wrap:break-word;
    font-size:1.5rem; /*20px - Adds back font size removed in nav styling*/
    display:inline-block;
    width:33%; /*Makes list items take up a third of the wrapper size (three list items divided equally = ~1/3rd each)*/
}
nav li:not(:last-child){ /*Adds a border to the right of all inline elements except for the last one*/
    border-right:1px solid black;
}
nav a{
    color:black;
    text-decoration:none;
    text-transform:uppercase;
}
nav a:hover{
    color:white;
}
nav a:active{
    color:black;
}
main{
    margin:10px;
}
article h2{
    margin-bottom:10px;
}
article h3,h4,h5{
    margin:10px 0px;
}
article p{
    line-height:1.5em;
}
article ul{
    list-style-type:disc; /*Changes the bullets from the default, outlined circles to the filled-in circles*/
    margin-left:10px;
    font-size:1rem;
    line-height:1.5em;
}
form{
    font-size:0rem; /*Removes invisible space at bottom of form*/
    padding:10px;
    border:1px solid black;
}
form label{
    font-size:1rem;
    margin:0px 10px;
}
form input{
    margin:0px;
    padding:0px;
}
form button{
    font-size:1rem;
    background-color:#d4e9e7;
    padding:10px;
    border:1px solid black;
    margin:0px;
    display:block;
    margin-top:10px;
}
form button:hover{
    background-color:#aad4cf;
}
form button:active{
    color:white;
    background-color:#d4e9e7;
}
footer{
    padding-bottom:20px;
    margin:20px;
    text-align:right;
}
/*Classes*/
.wrapper{
    background-color:#d4e9e7;
    max-width:1024px; /*Wrapper's max size = full-sized banner image*/
    margin:auto; /*Centers wrapper in webpage window*/
}
.banner{
    font-size:0rem; /*Removes invisible space under banner image*/
    text-align:center;
    position:relative;
}
.banner img{ /*Original size = 1024px*/
    max-width:100%; /*Takes up full size of wrapper*/
    max-height:100%;
}
.banner h1{
    position:absolute; /*Spaces headline in relation to banner*/
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); /*Properly centers title inside banner*/
}
.float img{
    float:left; /*Allows text to wrap around the right side of the image*/
    height:auto;
    width:250px;
    margin:0px 10px 10px 0px;
}
.clearfix::after{ /*Clears float styling for anything after clearfix-classified divs*/
    clear:both;
    display:block;
    content:"";
}
.textform label{
    font-size:1rem;
    display:block;
    margin:0px 0px 10px 0px;
}
.textform label:not(:first-child){ /*Adds a space between the top of the input titles except for the first one*/
    margin-top:10px;
}
.textform input, textarea{
    font-size:1rem;
    width:100%;
    box-sizing:border-box;
    resize:none;
    padding:10px;
    border: 1px solid black;
}
.textform input, textarea:focus{
    outline:none;
}