/* #c78c06 = Gold */
/* #ffe6ac = Cream */
/* #222 = Black */
/* white = White */
body{ /*1rem = 16px by default*/
    font-family:"Open Sans";
    background-color:white;
}
img{
    width:100%;
    height:auto;
}
h1, h2, h3, h4{
    font-weight:bold;
}
h1{
    font-size:4rem; /*80px*/
    line-height:6rem; /*Spaces out text*/
    color:white;
    margin:28px 0px;
}
h2{
    font-size:3rem; /*56px*/
    color:#222;
    margin:28px 0px;
}
h3{
    font-size:2.25rem; /*36px*/
    margin:28px 0px;
}
h4{
    font-size:1.125rem; /*18px*/
    border-bottom:2px solid #c78c06;
}
form{
    font-size:0rem; /*Removes invisible space at bottom of form*/
    padding:0px;
    margin:14px 0px;
}
label{
    font-size:1rem; /*16px - Reinstates font size removed in form*/
}
input{
    padding:0px;
    margin:0px;
}
button{
    font-family:"Open Sans";
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0px;
    border:none;
    margin:0px;
}
table{
    width:100%;
}
thead{
    background-color:#ffe6ac;
}
th{
    padding:14px;
    border:1px solid #222;
}
td{
    padding:14px;
    border:1px solid #222;
}
header{
    background-color:#222;
}
nav{
    background-color:#222;
    font-size:0rem; /*Removes invisible space between inline block elements*/
    text-align:center;
}
nav li{
    font-size:1rem; /*16px - Reinstates font size removed in nav*/
}
nav a{
    display:block; /*Makes link take up entire nav width*/
    color:#c78c06;
    text-decoration:none; /*Removes underline*/
    padding:14px;
}
nav a:hover{ /*Changes on link hover*/
    color:#222;
    background-color:#c78c06;
}
nav a:active{ /*Changes on link click*/
    color:white;
    background-color:#222;
    border:1px solid #c78c06;
}
footer{
    color:#c78c06;
    background-color:#222; 
}
footer a{
    color:#c78c06;
}
footer p{
    margin-top:28px; /*Spaces paragraphs appart*/
}
/*Classes*/
.wrapper{
    max-width:1200px;
    margin:auto;
    padding:14px;
}
.logo{
    font-size:0rem; /*Removes invisible space below logo*/
    background-color:#c78c06;
    padding:14px 0px;
}
.logo img{
    max-width:100px;
}
.button1{
    font-size:1.5rem; /*24px*/
    background-color:#222;
    color:#c78c06;
}
.button2{
    font-size:1.5rem; /*24px*/
    background-color:#222;
    color:white;
    padding:24px;
}
.searchbar form{
    display:flex; /*Places searchbar and search button next to eachother*/
}
.searchbar input{
    width:100%; /*Makes searchbar take up entire width of nav*/
    font-size:1rem; /*16px*/
    padding:14px;
    border:2px solid grey;
    border-radius:4px; /*Rounds searchbar corners*/
}
.material-symbols-outlined{
    font-size:3rem!important; /*64px - Overrides default font sizing*/
    font-variation-settings:'GRAD' 200; /*Thickens symbol*/
}
.banner{
    font-size:0rem; /*Removes invisible space under banner image*/
}
.banner h3, .banner p{
    color:white;
}
.banner p{
    font-size:1rem; /*16px - Reinstates font size removed in banner*/
}
.service, .employee{
    background-color:#ffe6ac;
}
.articletext{
    padding:14px;
}
.service:not(:last-child){ /*Adds margin to bottom of employee sections except for last one*/
    margin-bottom:14px;
}
.employee:not(:last-child){ /*Adds margin to bottom of employee sections except for last one*/
    margin-bottom:14px;
}
/*IDs*/
#welcome, #vision{
    position:relative; /*Readys banner for welcometext content*/
    display:flex;
    justify-content:center; /*Centers content vertically*/
    align-items:center; /*Centers content horizontally*/
}

#welcome .wrapper, #vision .wrapper{
    position:absolute; /*Places welcometext content over banner*/
    display:flex;
    flex-direction:column;
    align-items:flex-start; /*Places welcometext items left horizontally*/
}
#welcome img{
    height:600px; /*Constrains image height*/
    object-fit:cover; /*Preserves image ratio*/
}
#welcome .wrapper{
    background-color:rgb(33, 33, 33, 0.75); /*Adds semi-transparent background to wrapper content*/
}
#welcome p{
    margin:14px 0px;
}
#vision img{
    height:293.45px; /*Constrains image to banner height*/
    object-fit:cover; /*Preserves image ratio*/
}
#about p{
    margin:14px 0px;
}
#team h3, p{
    margin:14px 0px;
}
#buttonsearch{
    border:2px solid #c78c06;
}
#buttonconnect{
    color:#222;
    background-color:#c78c06;
}
#buttonlearn{
    background-color:rgb(33, 33, 33, 0.75); /*Adds semi-transparent background to button*/
    border:1px solid #c78c06; 
}
#buttonsend{
    padding:7px;
}
#about{
    background-color:#ffe6ac;
}
#contact button{
    margin-top:28px;
}
#contactmessage label{
    display:block;
    margin:14px 0px;
}
#contactmessage input, textarea{
    font-size:1rem;
    width:100%;
    box-sizing:border-box;
    resize:none; /*Removes resizing ability for textarea*/
    padding:14px;
}
/*Media Queries*/
@media only screen and (min-width:760px){ /*Changes for screens 760px and larger*/
}